<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/terminal.png" label="Terminal emulator">
			<action name="Execute">
				<execute>lxterminal</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/firefox-4.0.png" label="Web browser">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/leafpad.png" label="Editor">
			<action name="Execute">
				<execute>leafpad</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/evince.png" label="PDF reader">
			<action name="Execute">
				<execute>evince</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Vibrancy-Colors//apps/24/file-manager.png" label="File Manager">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<menu icon="/usr/share/icons/Vibrancy-Colors/categories/24/applications-office.png" id="root-menu-814950" label="Office">
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/libreoffice.png" label="LibreOffice">
				<action name="Execute">
					<execute>libreoffice</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/libreoffice-calc.png" label="Calc">
				<action name="Execute">
					<execute>localc</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/libreoffice-writer.png" label="Writer">
				<action name="Execute">
					<execute>lowriter</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/libreoffice-base.png" label="Base">
				<action name="Execute">
					<execute>lobase</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/libreoffice-impress.png" label="Impress">
				<action name="Execute">
					<execute>loimpress</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/Vibrancy-Colors/categories/24/gnome-multimedia.png" id="root-menu-965033" label="Media">
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/mirage.png" label="Image Viewer">
				<action name="Execute">
					<execute>gpicview</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/devices/24/scanner.png" label="Scanner">
				<action name="Execute">
					<execute>xsane</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/vlc.png" label="Vlc">
				<action name="Execute">
					<execute>vlc</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/Vibrancy-Colors/categories/24/gnome-graphics.png" id="root-menu-545326" label="Graphics">
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/inkscape.png" label="Inkscape">
				<action name="Execute">
					<execute>inkscape</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/gimp.png" label="Gimp">
				<action name="Execute">
					<execute>gimp</execute>
				</action>
			</item>
		</menu>
		<menu icon="/usr/share/icons/Vibrancy-Colors/categories/24/gnome-devel.png" id="root-menu-872443" label="Programming">
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/Terminal.png" label="rxvt">
				<action name="Execute">
					<execute>urxvt</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/eclipse.png" label="Eclipse">
				<action name="Execute">
					<execute>/opt/eclipse/eclipse</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/kate.png" label="Kate">
				<action name="Execute">
					<execute>kate</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/geany.png" label="Geany">
				<action name="Execute">
					<execute>geany</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/sqldeveloper.png" label="PgsqlAdmin">
				<action name="Execute">
					<execute>pgadmin4</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/hexchat.png" label="Bless Hex Editor">
				<action name="Execute">
					<execute>bless</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/ghex.png" label="GHex">
				<action name="Execute">
					<execute>ghex</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu execute="/home/dg/.config/openbox/scripts/date-menu.sh" icon="/usr/share/icons/Vibrancy-Colors/apps/24/calendar.png" id="pipe-3821" label="Calendar"/>
		<menu execute="/home/dg/.config/openbox/scripts/ob-sysinfo.pl" icon="/usr/share/icons/Vibrancy-Colors/categories/24/applications-system.png" id="pipe-7452" label="Sysinfo"/>
		<menu execute="/home/dg/.config/openbox/scripts/battery.sh" icon="/usr/share/icons/Vibrancy-Colors/status/24/gpm-primary-100.png" id="pipe-21225" label="Battery"/>
		<menu execute="/home/dg/.config/openbox/scripts/processes.py" icon="/usr/share/icons/Vibrancy-Colors/categories/24/applications-utilities.png" id="pipe-121538" label="Processes"/>
		<menu execute="obfilebrowser --no-self --no-parent" icon="/usr/share/icons/Vibrancy-Colors/apps/24/file-manager.png" id="pipe-73578" label="File browser"/>
		<menu execute="/home/dg/.config/openbox/scripts/mpdmenu.pl" icon="/usr/share/icons/Vibrancy-Colors/apps/24/mpd.png" id="pipe-271624" label="Mpd"/>
		<menu icon="/usr/share/icons/Vibrancy-Colors/apps/24/mendeleydesktop.png" id="client-list-menu"/>
		<separator/>
		<menu icon="/usr/share/icons/Vibrancy-Colors/categories/24/gnome-settings.png" id="root-menu-95244" label="Settings">
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/networkmanager.png" label="Wifi">
				<action name="Execute">
					<execute>wicd-gtk</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/obconf.png" label="ObConf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/obconf.png" label="ObMenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/preferences-theme.png" label="lxAppearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/sound.png" label="pavucontrol">
				<action name="Execute">
					<execute>pavucontrol</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/cheese.png" label="cheese">
				<action name="Execute">
					<execute>cheese</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/wallpaper.png" label="Nitrogen">
				<action name="Execute">
					<execute>nitrogen</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/tint2conf.png" label="tint2">
				<action name="Execute">
					<execute>tint2conf</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/fonts.png" label="Font Manager">
				<action name="Execute">
					<execute>font-manager</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/gucharmap.png" label="Character map">
				<action name="Execute">
					<execute>gucharmap</execute>
				</action>
			</item>
		</menu>
		<item icon="/usr/share/icons/Vibrancy-Colors/apps/24/obconf.png" label="ObConf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Vibrancy-Colors/actions/24/stock-refresh.png" label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item icon="/usr/share/icons/Vibrancy-Colors/actions/24/view-refresh.png" label="Restart">
			<action name="Restart"/>
		</item>
		<separator/>
		<item icon="/usr/share/icons/Vibrancy-Colors/actions/24/exit.png" label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
